/* http://www.fixedsysexcelsior.com/ */
/*@font-face {
	font-family: "FSEX300";
	src: url('FSEX300.ttf');
}*/

body, textarea {
	/* not using FixedSysExcelsior because of subpixel rendering
	font-family: "FSEX300", monospace;
	font-smooth: never;
	-webkit-font-smoothing : none;
	*/
	background-color: black;
	color: #cfcfcf;
	font-family: "Consolas", "Courier New", monospace;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

#cyclecountcontainer {
	position: fixed;
	top: 4px;
	right: 4px;
}

/* ==================== */
/* Sidebar              */
/* ==================== */
#sidebar {
	height: 100vh;
	width: 20%;
	float: left;
	position: relative;
}

.statebutton {
	background-color: black;
	border: 3px double #cfcfcf;
	width: 22%;
	position: relative;
	color: white;
	cursor: pointer;
}
.statebutton:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.statebutton:hover {
	background-color: gray;
}

#test_name {text-align: center;}
#test_name:before {content: '- ';}
#test_name:after {content: ' -';}

.infobox {
	padding: 10px;
	margin: 10px;
}

#inputoutput {
	width: 100%;
}
#inputoutput td {
	vertical-align: top;
	text-align: center;
}
#inputoutput table {
	margin: 0 auto 0 auto;
}

.outputwrong {
	background-color: #a60d0d;
	color: black;
}

table.datalist {
	list-style: none;
	padding: 5px;
	margin: 5px;
	line-height: .5em;
	border-collapse: collapse;
	border-bottom: 3px double #cfcfcf;
	border-top: 3px double #cfcfcf;
}
table.datalist td {
	padding: 5px;
	border-right: 3px double #cfcfcf;
}
table.datalist tr {
	border-left: 3px double #cfcfcf;
}

.table2row td {
	width: 50%;
}

/* ==================== */
/* Computer             */
/* ==================== */
.computer {
	border-spacing: 20px;
}

#computercontainer {
	width: 80%;
	float: right;
}

.cellcontainer {
	width: 200px;
	height: 200px;	
}

@media (max-width: 900px) {
	.src.cellfail .celltext {
		display: none;
	}
}

.cell {
	height: 100%;
	width: 100%;
	position: relative;
	border-collapse: collapse;
}

.box {
	white-space: pre-line;
}

.cell td, .box {
	border: 3px double #cfcfcf;
}

/* cell td and td.srccontainer width should add to 100% */
.cell td {
	width: 25%;
	text-align: center;
}

.celltext {
	margin-top: 30%;
	margin-left: 10%;
	padding: 10px 0px 10px 0px;
	border-top: 12px solid #cfcfcf;
	border-bottom: 12px solid #cfcfcf;
}

.cell2 td {
	vertical-align: top;
}

.stacklist {
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 10px;
	text-align: center;
	color: #cfcfcf;
	width: 100%;
}
.stacklist>div {
	width: 100%;
}
.stacklist>div:last-child {
	background-color: #a60d0d;
}

.cell.cell3 td {
	border: 3px solid #a60d0d;
	cursor: default;
}

.cellstack, .cellfail {
	color: #cfcfcf;
	text-align: center;
	vertical-align: middle;
	width: 90%;
	overflow: hidden;
}

.cellfail {
	color: #a60d0d;
}
.cellfail .celltext {
	border-color: #a60d0d;
}

td.srccontainer {
	width: 75%;
	height: 100%;
	text-align: left;
	vertical-align: top;
}

.src {
	height: 95%; /*wtf chrome is melting at 100% height*/
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: auto;
}

ul.src {
	list-style-type: none;
}

ul.src>li {
	width: 100%;
}
ul.src>li.active {
	background-color: #9a9a9a;
	color: black;
}

/* making a textarea not really a textarea */
textarea.srcarea {
	height: 95%;
	border: none;
	outline: none;
	display: block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	resize: none;
	outline: none;
}

.arrow {
	text-align: center;
	font-size: 2em;
}